---
import TagList from '../components/TagList.astro';

const { heroImage, heroImageAlt, title, tags } = Astro.props;

---
<article>
    <div>
        { title && <h1>{title}</h1>}
        { tags && <TagList className="text-center" names={tags} />}
        { heroImage && <div class="image-wrapper full-center"><img src={heroImage} alt={heroImageAlt} /></div>}
    </div>

    <slot />

    <hr/>
</article>

<style>
    .image-wrapper {
        margin: 2rem 0rem;
    }
    
    h1 {
        text-align: center;
    }
</style>
