---
import TagList from '../components/TagList.astro';

const { heroImage, heroImageAlt, title, tags } = Astro.props;

---
<article>
    <div>
        { title && <h1>{title}</h1>}
        { tags && <TagList names={tags} />}
        { heroImage && <img src={heroImage} alt={heroImageAlt} />}
    </div>

    <slot />

    <hr/>
</article>

<style>
    hr {
        margin-top: 3rem;
        border: 0;
        padding: 1px;
        box-shadow: inset -1px -1px 9px -7px rgb(157 157 157 / 40%);
    }

    article div {
        text-align: center;
    }
    
    h1 {
        text-align: center;
        margin-top: 2rem;
    }

</style>