---
import '../styles/global.css';
import Logo from "../assets/logo.svg"

const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description}>}
		<title>DMM</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&family=Newsreader:opsz@6..72&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div class="logo full-center"><a href="/"><Logo /></a></div>
				<nav class="full-center">
					<ul>
						<li><a href="/projects">Projetos</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<div class="wrapper">
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
	header {
		height: 6.5rem;
		background-color: transparent;
		box-shadow: inset -1px -1px 9px -7px rgb(157 157 157 / 40%);
		
	}

	header .wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	header .logo {
		width: 150px;
		height: 6.5rem;
	}
	header .logo a {
		color: var(--color-black);
		font-size: 3.5rem;
		text-decoration: none;
		display: flex;
	}

	header nav {
		height: 6.5rem;
	}
	header nav a {
		font-weight: bold;
	}
	header nav ul {
		list-style: none;
		width: 100%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	header nav ul li {
		margin: 0 0.5rem;
	}
	header nav ul li a {
		font-size: 1.1rem;
		font-family: var(--font-family-header);
		color: var(--color-text);
		text-decoration: none;
		letter-spacing: 0.2em;
		padding-bottom: 0.3rem;
		padding: 0.5rem 1rem;
	}
	header nav ul li a:hover, header nav ul li a:active {
		cursor: pointer;
		color: var(--color-white);
	}

	main {
		height: calc(100% - 6rem);
   		min-height: calc(100% - 6rem);
	}

	main .wrapper {
		padding-bottom: 4rem;
	}

	.full-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
